/*
   全局公共样式
   秦国胜
   2019-08-05
*/

@charset "utf-8";
@import './size.less';
@import './variable.less';

html,body {
    /* 抗锯齿，使字体图标更清晰 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    // overflow-scrolling: touch;
    height: 100%;
    color: #000;
    font-size: 12px;
}


html,body,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,img,div,a,b,s,i,span,
header,article,nav,section,footer,form,input,select,option,textarea,
button,label,table,tr,td,th,thead,tbody,tfoot,canvas,video,audio,svg {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", "Avenir", Helvetica, Arial, sans-serif;
    list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

input {
    -webkit-appearance: none;
}

img {
    object-fit: cover;
    vertical-align: bottom;
    border: none;
}

a {
    color: @c-333;
    text-decoration: none;
}

// 背景相关
.bg-E1E4ED{
    background: @c-E1E4ED;
}

// 字体颜色相关
.f-c-333{
    color: @c-333
}

// 文本布局
.t-j { // 两端对齐
    text-align: justify;
}

.t-l {
    text-align: left;
}

.t-c {
    text-align: center;
}

.t-r {
    text-align: right;
}

// 鼠标手
.c-p{
    cursor: pointer;
}

// 块
.block{
    display: block;
}
.inline-block{
    display: inline-block;
}

// 浮动
.f-c::after {
    display: block;
    clear: both;
    content: "";
}

.f-l {
    float: left;
}

.f-r {
    float: right;
}

// display：inline-block 间隙， 是因为标签换行造成的, 清除换行间隙
.clear-lacuna{
    display: table;
    word-spacing: -1em;
}

// 超出宽度省略号
.ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

// 量省略号 两行
.ellipsis-2{
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;

    /*! autoprefixer: off */
    -webkit-box-orient: vertical;

    /*! autoprefixer: on */
    -webkit-line-clamp: 2;
}

// 水平垂直居中  -- 定位
.position-center{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform:translate(-50%,-50%) ;
    transform: translate(-50%,-50%);
}

// 水平垂直居中  -- table  外部父级必须有固定的宽高。
.dt-center{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

// 弹性布局
.df{
    display: flex;
}

//水平两端垂直居中布局 --  一行 -- 弹性布局
.df-ac-js{
    .df;

    align-items: center;
    justify-content: space-between; 
}

// 水平居中垂直两端布局 -- 多行
.df-as-jc {
    .df;

    align-content: space-between;
    justify-content: center; 
}

// 水平垂直居中 一行 -- 弹性布局
.df-ac-jc{
    .df;

    align-items: center;
    justify-content: center; 
}


// 边框线 解决一像素问题 底部边框一像素
.border-1px::after{
    display: block;
    width: 100%;
    height: 1px;
    background: #44B3E1;
    transform: scaleY(0.5); // 纵向缩放
    transform-origin: 0 0;
    content: '';
}

#root {
    height: 100%;
}


.select-letter-sort{
    position: relative;
    .select-letter-main{
        width: 100%;
    }
    .list-select-content{
        max-height: 256px;
        padding-right: 40px;
        overflow-y: auto;
        color: #000;
    }
    .list-group-name{
        padding: 5px 12px;
        color: #aeaeae;
        cursor: default;
    }
    .list-option {
        padding: 5px 12px;
        cursor: pointer;
        &:hover {
            background: #e6f7ff;
        }
    }
    .list-option-active {
        background: #e6f7ff;
    }
    .list-option-multiple-active{
        background: #fafafa;
    }
    .list-group-item{
        padding-left: 18px;
    }
   
    .letter-container{
        position: absolute;
        top: 50%;
        right: 18px;
        z-index: 9999;

        /* <percentage> value */
        max-height: calc(~"100% - 8px");
        padding: 0;
        overflow: hidden;
        color: @c-000;
        font-size: 12px;
        background: @c-fff;
        transform: translate(0, -50%);
        cursor: pointer;
        // .letter-main-content{
            
        // }
        &:hover{
            background: @c-fff;
            cursor: pointer;
        }
        .letter-item{
            padding: 0 10px;
            text-align: center;
            &:hover{
                color: #1890ff;
            }  
        }
    }
}